body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    line-height: 1.6;
    color: #e8eaf6;
    margin: auto auto;
    overflow: hidden;
  }
  
  .content {
    margin: 0 auto;
    padding: 30px 30px;
    max-width: 760px;
  }
  
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  
  h2 {
    font-size: 30px;
    line-height: 1.3;
  }
  
  .fake-img {
    margin: 0 0 30px 30px;
    padding-top: 40%;
    width: 40%;
    height: 0;
    float: right;
    background: #534bae;
  }
  
  .modal {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 100;
    padding: 10px 30px 12px;
    max-width: calc(100% - 40px);
    width: 560px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    color: #ffffff;
    border: 1px solid #666ad1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(5, 11, 72, 0.4);
    transform: translate3d(-50%, -25%, 0);
    animation: floating 3s infinite;
  }
  
  @keyframes floating {
    0% {
      transform: translate3d(-50%, -25%, 0);
    }
    50% {
      transform: translate3d(-50%, 0%, 0);
    }
    100% {
      transform: translate3d(-50%, -25%, 0);
    }
  }

  button {
    background: none;
    border: 2px solid;
    font: inherit;
    font-size: 12px;
    line-height: 1;
    margin: 0.5em;
    padding: 10px;
  }

  button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
  }

  .pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
    --color: #ef6eae;
    --hover: #ef8f6e;
  }
  
  @media screen and (orientation:portrait) {
    body {
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg); 
      transform: rotate(-90deg);
      width: 100vw;
      height: 100vh ;
      overflow: hidden;
    }
  }